body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(46, 34, 31);
}
.button-below{
   margin-left: 20px;
   margin-top: 30%;
   padding: 10px;
}
.button-below button{
  padding: 10px;
  margin-left: 20px;
}

.center{
  max-width: 50px;
 
  margin:150px;
  margin-left: 50%;
}
.default{

  border-radius: 5%;
}
.left-content{
 
  margin-left:150px;
  margin-top:150px;
}
.right-content{
  margin-left: 60%;

  margin-top:150px;
}